<div ng-controller="remainderListCtrl">
    <div class="row">
        <div class="col-md-12 my-3 p-0">
            <header label="'Remainders'" icon="'notifications'" ></header>
            </header>

            <table class="table table-sm table-light table-striped p-0 header-fixed">
                <thead class="table-primary">
                    <tr>
                        <!-- <th scope="col">S no</th> -->
                        <th scope="col">Remainder Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Message</th>
                        <!-- <th scope="col">Customer Name</th> -->
                        <th scope="col">Status</th>
                      

                    </tr>
                </thead>
                <tbody>

                    <div class="col-12 px-25">
                        <div class="row py-1">
                             <!-- status -->
                        <div class="form-group row">
                                <label for="status" class="col-sm-4 col-form-label col-form-label-sm">status</label>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-sm" data-live-search="true"  data-ng-change="handlers.filter('status',data.status)" data-ng-model="data.status">
                                        <option value="">--Select option--</option>
                                        <option ng-selected="data.status == status" ng-repeat="status in options.statuss" value="{{status}}">{{status}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- remainderDate Date -->
                            <div class="form-group row">
                                <label for="remainderDate" class="col-sm-3 col-form-label col-form-label-sm">Date </label>
                                <div class="col-sm-9">
                                    <input date-input type="date"  data-ng-change="handlers.filter('date',data.date)" data-ng-model="data.date" class="form-control form-control-sm" id="remainderDate">
                                </div>
                            </div>
                        </div>
                    </div>


                    <tr ng-repeat="remainder in options.remainderList" ng-class="{'table-success': remainder.status == 'Open'}" class="px-1 ">

                        <td> {{$index + 1}} &nbsp;&nbsp; {{remainder.date}} </td>
                        <td> {{remainder.type}} </td>
                        <td>{{remainder.message}}</td>
                        <td>{{remainder.status}}</td>
                       
                            <!-- <button type="button" id="_launch" class="btn btn-link p-0" data-toggle="tooltip"
                                data-placement="top" title="Start Registration" ng-click="handlers.customerRegistration(remainder)">
                                <i class="material-icons icon" style="font-size:20px;top:10px;">launch</i>
                            </button> -->
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>