<div ng-controller="callListCtrl">
    <div class="row">
        <div class="col-md-12 my-3 p-0">
            <header label="'Call'" button-label="'New'" icon="'people'" state="'dashboard.call'"></header>
            
            <table class="table table-sm table-light table-striped p-0 header-fixed">
                <thead class="table-primary">
                    <tr>
                        <!-- <th scope="col">S no</th> -->
                        <th scope="col">Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">FollowUp Date</th>
                        <!-- <th scope="col">Gender</th> -->
                        <th scope="col">Created By</th>
                        <th scope="col">Action</th>
                      
                        </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="call in options.callList" ng-class="{'table-success': call.status == 'Open'}" class="px-1 ">
                           
                        <td> {{$index + 1}} &nbsp;&nbsp; {{call.customerInfo.name}}  </td>
                         <td> {{call.mobile[0]}} </td>
                        <td>{{call.followupDate}}</td>
                        <!-- <td>{{call.customerInfo.gender}}</td> -->
                        <td>{{call.createdBy.name}}  </td>
                               
                      
                        <td> <button type="button" id="_launch" class="btn btn-link p-0" data-toggle="tooltip"
                            data-placement="top" title="Start Registration" ng-click="handlers.customerRegistration(call)">
                            <i class="material-icons icon" style="font-size:20px;top:10px;">launch</i>
                        </button></td>
                       
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>